* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #4CAF50;
}

label {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    color: #4CAF50;
}

input, select {
    font-size: 24px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #3e8e41;
}

p {
    font-size: 36px;
    margin-top: 20px;
    color: #4CAF50;
}